body{
    background-color: aliceblue;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
}

#Section1{
    width: 65%;
    margin: 0 auto;
    background-color: rgb(164, 212, 255);
    color: rgb(23, 61, 94);
    padding: 50px;
    border: 2px solid rgb(37, 97, 150);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; 
}
.nav{
    width: 30%;
    padding: 5px;
}

#Section2{
    margin: 0 auto;
    width: 70%;
    background-color: rgb(238, 178, 208);
    color: rgb(117, 27, 27);
    border: 2px ;
    border: 2px solid rgb(122, 30, 30);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.nav2{
    width: 30%;
    padding: 10px;
}
