body {
  padding: 30px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  background-color: rgb(214, 240, 240);
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #922222;
    text-align: center;
}
.outer {
  margin: 30px;
  width: 500px;
  height: 500px;
  background-color: rgb(111, 111, 226);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 300px;
  height: 300px;
  background-color: rgb(241, 241, 115);
  border: 2px solid black;
  position: relative;
}

.box {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  position: absolute;
}

.green {
  background-color: green;
  top: 30px;
  left: 50px;
}

.pink {
  background-color: pink;
  top: 112px;
  left: 110px;
}

.brown {
  background-color: brown;
  bottom: 30px;
  right: 50px;
}

.style{
  width: 30%;
  padding: 20px;
  margin: 20px;
  display: inline-block;
}
.dashed{
    color: rgb(73, 28, 28);
    background-color: rgb(238, 162, 162);
    border: 3px dashed rgb(73, 28, 28);
}
.dotted{
    color: rgb(22, 22, 83);
    background-color: rgb(170, 178, 226);
    border: 3px dotted rgb(22, 22, 83);
}
.solid{
    color: black;
    background-color: rgb(194, 183, 183);
    border: 3px solid black;
}
#org{
    width:300px;
    height: 300px;
}
.image{
    gap: 10px;       /* images ke beech space */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
#image1{
    height: 200px;
    width: 200px;
    filter: invert(20%);
}
#image2{
    height: 200px;
    width: 200px;
    filter: saturate(200%);
}
#image3{
    height: 200px;
    width: 200px;
    filter: contrast(150%);
}
#image4{
    height: 200px;
    width: 200px;
    filter: grayscale(80%);
}
#image5{
    height: 200px;
    width: 200px;
    filter: opacity(50%);
}
